@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #000000, #727272);
  color: white;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-weight: bold;
}

.logo {
  color: #828282;
  font-size: larger;
  font-weight: bold;
}

.logo > span {
  color: #fff;
}

.text-menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.text-menu li {
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s;
}

.text-menu li:hover {
  color: #70ff00;
}

.contact-menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.contact-menu li {
  padding: 5px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-menu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #fff;
  transition: 0.5s;
}

.contact-menu li a:hover {
  color: #70ff00;
}

.contact-menu li > img {
  margin-right: 5px;
}

.contact-menu li:last-child {
  position: relative;
  background-color: #727272;
  border-radius: 3px;
  padding: 5px 10px;
  --borderWidth: 3px;
  margin-left: 10px;
}

.contact-menu li:last-child::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(to bottom, #70ff00, #ffffff);
  border-radius: 5px;
  z-index: -1;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 10rem;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 10px;
}

.intro-text h2 {
  color: #70ff00;
  font-size: 3rem;
}

.intro-text h3 {
  font-size: 2rem;
}

.detail-number {
  font-size: 2.6rem;
}

.intro-details {
  color: #828282;
  display: flex;
  column-gap: 15px;
}

.detail-text {
  display: inline-block;
  max-width: 200px;
  margin-left: 5px;
  text-transform: uppercase;
}

.width-100 {
  width: 100px;
}

.intro-tool {
  top: 0%;
  animation: bubbleAnimate 3s ease alternate infinite;
}

@keyframes bubbleAnimate {
  0% {
    top: 0%;
  }

  50% {
    top: -10%;
  }

  100% {
    top: -5%;
  }
}

.about-me {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}

.about-me p {
  padding: 20px 30px 10px 0;
  line-height: 24px;
}

.title {
  color: #70ff00;
  font-size: 2rem;
}

.title span {
  color: #fff;
}

.about-me-detail {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  border-radius: 4px;
  background-color: #4f4f4f;
  margin: 10px 0;
  padding: 20px 10px;
  align-items: center;
}

.about-me-detail a {
  color: #70ff00;
}

.symbol {
  color: #70ff00;
  font-size: larger;
}

.me-job h4 {
  margin: 10px 0;
  font-size: 22px;
}

.skills {
  margin-top: 10rem;
  background-color: #161616;
  padding: 20px 10px;
}

.skill-logo {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}

.projects {
  padding: 5rem 0;
}

.card img {
  max-width: 100%;
  padding: 0;
  border-radius: inherit;
}

.card a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.card a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 75px;
  left: 0;
  background-color: gray;
}

.card a:hover {
  color: #70ff00;
  transition: 0.5s;
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 100%;
  height: 480px;
  max-width: 32%;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  transition: box-shadow 0.5s;
  cursor: pointer;
  box-shadow: 5px 5px 5px #888888;
}

.card:hover {
  box-shadow: 0 0 11px #70ff00;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  height: 100%;
}

.card-list {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.companies {
  height: 1000px;
  background-color: black;
}

.spacing-company {
  padding-top: 5rem;
}

.company-content {
  display: flex;
}

.company-left {
  width: 50%;
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  position: relative;
}

.company-left::before {
  content: "";
  height: 800px;
  width: 4px;
  background-color: #70ff00;
  position: absolute;
  right: 0;
}

.company-right {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: black;
  border: 3px solid #70ff00;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 10%;
  z-index: 10;
}

.circle-two {
  height: 25px;
  width: 25px;
  background-color: black;
  border: 3px solid #70ff00;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 35%;
  z-index: 10;
}

.circle-three {
  height: 25px;
  width: 25px;
  background-color: black;
  border: 3px solid #70ff00;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 70%;
  z-index: 10;
}

.company-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  position: absolute;
  gap: 10px;
}

.company-item h3 {
  color: #70ff00;
}

.companies button {
  padding: 10px 18px;
  background: black;
  color: #fff;
  border-image: linear-gradient(to bottom, #70ff00, #ffffff);
  border-image-slice: 1;
  border-radius: 20px;
}

.companies a {
  text-decoration: none;
  color: #fff;
}

.top-10 {
  top: 10%;
}

.top-70 {
  top: 70%;
}

.skill-item {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-tip {
  position: absolute;
  top: -30px;
  right: -30px;
  color: #70ff00;
  background: #4f4f4f;
  padding: 5px;
  border-radius: 5px;
  font-size: small;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  text-transform: uppercase;
}

.skill-item:hover .tool-tip {
  visibility: visible;
  opacity: 1;
}

.mobile-mode {
  padding: 10px;
}

.mobile-company-item {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mobile-company-item h3 {
  color: #70ff00;
}

.mobile-up {
  color: #70ff00;
}

.avatar-transition {
  border: inherit !important;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  object-fit: cover;
}

.bg-avatar span {
  display: block !important;
}

.avatar-transition:hover {
  transform: scale(1.2);
}

.avatar-div {
  border: 3px solid white !important;
  border-radius: 30px;
  overflow: hidden;
}

.card-content-desc h2 {
  font-weight: bold;
  font-size: 22px;
}

.product-detail-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(40, 40, 60, 1) 0%,
    rgba(40, 0, 60, 0) 90%
  );
  border-radius: 0.5rem;
}

.modal-content {
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.4);
}

.product-features {
  list-style: disc;
  padding-left: 15px;
}

@media only screen and (max-width: 768px) {
  .introduction {
    grid-template-columns: 1fr;
    margin-top: 6rem;
  }

  .about-me {
    grid-template-columns: 1fr;
    margin-top: 6rem;
  }

  .contact-menu li a {
    font-size: small;
  }

  .card-list {
    flex-direction: column;
  }

  .card {
    max-width: 100%;
  }

  .avatar-div {
    margin-top: 20px;
  }

  .skill-logo {
    padding: 0 20px;
  }
}
